In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("https://raw.githubusercontent.com/amankharwal/Website-data/master/Instagram%20data.csv")

In [3]:
df.head()

,Date,Impressions,From Home,From Hashtags,From Explore,From Other,Saves,Comments,Shares,Likes,Profile Visits,Follows,Conversion Rate,Caption,Hashtags
0,2021-12-10,3920,2586,1028,619,56,98,9,5,162,35,2,5.714286,Here are some of the most important data visua...,#finance #money #business #investing #investme...
1,2021-12-11,5394,2727,1838,1174,78,194,7,14,224,48,10,20.833333,Here are some of the best data science project...,#healthcare #health #covid #data #datascience ...
2,2021-12-12,4021,2085,1188,0,533,41,11,1,131,62,12,19.354839,Learn how to train a machine learning model an...,#data #datascience #dataanalysis #dataanalytic...
3,2021-12-13,4528,2700,621,932,73,172,10,7,213,23,8,34.782609,Here’s how you can write a Python program to d...,#python #pythonprogramming #pythonprojects #py...
4,2021-12-14,2518,1704,255,279,37,96,5,4,123,8,0,0.000000,Plotting annotations while visualizing your da...,#datavisualization #datascience #data #dataana...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             176 non-null    object
 1   Impressions      176 non-null    int64
 2   From Home        176 non-null    int64
 3   From Hashtags    176 non-null    int64
 4   From Explore     176 non-null    int64
 5   From Other       176 non-null    int64
 6   Saves            176 non-null    int64
 7   Comments         176 non-null    int64
 8   Shares           176 non-null    int64
 9   Likes            176 non-null    int64
 10  Profile Visits   176 non-null    int64
 11  Follows          176 non-null    int64
 12  Conversion Rate  176 non-null    float64
 13  Caption          176 non-null    object
 14  Hashtags         176 non-null    object
dtypes: float64(1), int64(11), object(3)
memory usage: 20.8+ KB

In [5]:
df.shape

(176, 15)

In [6]:
df.dropna(how='all', inplace=True)
esik_deger = len(df) * 0.6
df.dropna(thresh=esik_deger, axis=1, inplace=True)

In [7]:
df.shape

(176, 15)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             176 non-null    object
 1   Impressions      176 non-null    int64
 2   From Home        176 non-null    int64
 3   From Hashtags    176 non-null    int64
 4   From Explore     176 non-null    int64
 5   From Other       176 non-null    int64
 6   Saves            176 non-null    int64
 7   Comments         176 non-null    int64
 8   Shares           176 non-null    int64
 9   Likes            176 non-null    int64
 10  Profile Visits   176 non-null    int64
 11  Follows          176 non-null    int64
 12  Conversion Rate  176 non-null    float64
 13  Caption          176 non-null    object
 14  Hashtags         176 non-null    object
dtypes: float64(1), int64(11), object(3)
memory usage: 20.8+ KB

# POPULARITY-BASED RECOMMENDER SYSTEM

In [9]:
import numpy as np

In [10]:
grouped=df.groupby('Caption').agg({"Conversion Rate":[np.size,np.sum,np.mean]})

In [11]:
popular=grouped.sort_values(("Conversion Rate", "mean"),ascending=False)

In [12]:
popular.head()

                                                   Conversion Rate  \
                                                              size
Caption
Activation Functions are functions used in neur...               1
A user's IP address is defanged to prevent the ...               1
Here are some of the most important Python libr...               1
Here are some of the best Python certifications...               1
Here are some of the best resources to learn SQ...               2


                                                           sum        mean
Caption
Activation Functions are functions used in neur...  218.181818  218.181818
A user's IP address is defanged to prevent the ...  168.571429  168.571429
Here are some of the most important Python libr...  144.444444  144.444444
Here are some of the best Python certifications...  136.808847  136.808847
Here are some of the best resources to learn SQ...  272.922674  136.461337

In [13]:
toplam=grouped["Conversion Rate"]["sum"].sum()

In [14]:
toplam

8974.94376869

In [15]:
popular["percentage"]=popular["Conversion Rate", "sum"].div(toplam)*100

In [16]:
popular.head()

                                                   Conversion Rate  \
                                                              size
Caption
Activation Functions are functions used in neur...               1
A user's IP address is defanged to prevent the ...               1
Here are some of the most important Python libr...               1
Here are some of the best Python certifications...               1
Here are some of the best resources to learn SQ...               2

                                                                            \
                                                           sum        mean
Caption
Activation Functions are functions used in neur...  218.181818  218.181818
A user's IP address is defanged to prevent the ...  168.571429  168.571429
Here are some of the most important Python libr...  144.444444  144.444444
Here are some of the best Python certifications...  136.808847  136.808847
Here are some of the best resources to learn SQ...  272.922674  136.461337

                                                   percentage

Caption
Activation Functions are functions used in neur...   2.431010
A user's IP address is defanged to prevent the ...   1.878245
Here are some of the most important Python libr...   1.609419
Here are some of the best Python certifications...   1.524342
Here are some of the best resources to learn SQ...   3.040940

In [17]:
popular.sort_values("percentage", ascending=False)

                                                   Conversion Rate  \
                                                              size
Caption
Here are some of the best data science certific...               3
Here are some of the best websites that you can...               4
Here are some of the best resources to learn SQ...               2
Here is a list of 100+ Machine Learning Algorit...               5
Activation Functions are functions used in neur...               1
...                                                            ...
Learn how to analyze a candlestick chart as a d...               1
Data Science Use Cases: Here’s how Zomato is us...               2
Here are some of the most important data visual...               1
Here’s how to get the live stock price data of ...               1
Here are some of the popular applications of da...               1

                                                                            \
                                                           sum        mean
Caption
Here are some of the best data science certific...  395.496377  131.832126
Here are some of the best websites that you can...  324.089636   81.022409
Here are some of the best resources to learn SQ...  272.922674  136.461337
Here is a list of 100+ Machine Learning Algorit...  249.112208   49.822442
Activation Functions are functions used in neur...  218.181818  218.181818
...                                                        ...         ...
Learn how to analyze a candlestick chart as a d...    0.000000    0.000000
Data Science Use Cases: Here’s how Zomato is us...    0.000000    0.000000
Here are some of the most important data visual...    0.000000    0.000000
Here’s how to get the live stock price data of ...    0.000000    0.000000
Here are some of the popular applications of da...    0.000000    0.000000

                                                   percentage

Caption
Here are some of the best data science certific...   4.406672
Here are some of the best websites that you can...   3.611049
Here are some of the best resources to learn SQ...   3.040940
Here is a list of 100+ Machine Learning Algorit...   2.775641
Activation Functions are functions used in neur...   2.431010
...                                                       ...
Learn how to analyze a candlestick chart as a d...   0.000000
Data Science Use Cases: Here’s how Zomato is us...   0.000000
Here are some of the most important data visual...   0.000000
Here’s how to get the live stock price data of ...   0.000000
Here are some of the popular applications of da...   0.000000

[134 rows x 4 columns]

In [18]:
proNumRatings=pd.DataFrame(grouped["Conversion Rate"]["size"])
proNormalizedNumRatings=grouped.apply(lambda x: (x-np.min(x))/(np.max(x)-np.min(x)))
proNormalizedNumRatings.head()

                                                   Conversion Rate            \
                                                              size       sum
Caption
170 Python Projects with Source Code solved and...            0.25  0.129640
175 Python Projects with Source Code solved and...            0.00  0.094352
178 Python Projects with Source Code solved and...            0.00  0.149210
180+ Python Projects with Source Code solved an...            0.00  0.135003
280 Machine Learning Projects Solved & Explaine...            0.00  0.072023


                                                        mean
Caption
170 Python Projects with Source Code solved and...  0.117499
175 Python Projects with Source Code solved and...  0.171031
178 Python Projects with Source Code solved and...  0.270471
180+ Python Projects with Source Code solved an...  0.244720
280 Machine Learning Projects Solved & Explaine...  0.130556

## USER-BASED REC SYS: COSINUS UZAKLIĞINA GÖRE-KNN

In [19]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction import text
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

In [20]:
data = df[["Caption", "Hashtags"]]
captions=data["Caption"].tolist()

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Metin belgelerini vektörlere dönüştürmek için TfidfVectorizer kullanın
vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform(captions)

# Tavsiye edilecek metin belgesi
query_document_index = 0
query_document_vector = tfidf_matrix[query_document_index]

# Tüm metin belgeleriyle cosine benzerliğini hesaplayın
similarities = cosine_similarity(query_document_vector, tfidf_matrix)

# Benzerlikleri sıralayın
similarities = similarities.flatten()
sorted_indices = similarities.argsort()[::-1]  # Azalan sıraya göre sıralar

# En yüksek benzerliğe sahip 5 metin belgesini tavsiye edin
top_recommendations = sorted_indices[1:6]  # İlk öneri kendisi olacak, bu yüzden 1'den başlayarak alınır

# Sonuçları yazdırın
print("En yüksek benzerlikteki metin belgeleri:")
for i, idx in enumerate(top_recommendations):
    print(f"{i+1}. Benzerlik: {similarities[idx]}, Metin belgesi: {captions[idx]}")

En yüksek benzerlikteki metin belgeleri:
1. Benzerlik: 0.7640896630019681, Metin belgesi: Here are some of the most important data visualizations that every data scientist must know.
2. Benzerlik: 0.5286042257775211, Metin belgesi: Here are some of the most important soft skills that every data scientist should have.
3. Benzerlik: 0.5286042257775211, Metin belgesi: Here are some of the most important soft skills that every data scientist should have.
4. Benzerlik: 0.5145152955883256, Metin belgesi: Visualizing data is one of the most valuable skills every Data Scientist and Analyst should have. There are a lot of data visualizations to learn in data science. Here you will find a list of all data visualizations for data science explained using Python.
5. Benzerlik: 0.5145152955883256, Metin belgesi: Visualizing data is one of the most valuable skills every Data Scientist and Analyst should have. There are a lot of data visualizations to learn in data science. Here you will find a list of all data visualizations for data science explained using Python.